body {
	margin: 0;
	background-color: #E4CCC2;
	font-family: 'Open Sans', sans-serif;
	color: #1A181E;
}

header {
	margin: 0 auto;
}

#nav-button {
	background-color: transparent;
	border: none;
	font-size: 20px;
	padding: 1%;
}

#nav-bar {
	background-color: #CB807D;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	padding-top: 15%;
	text-align: center;
	display: none;
}

#nav-bar li {
	width: 200px;
	border-radius: 15px;
	padding: 2%;
	list-style: none;
	margin: 0 auto;
}

#nav-bar li a {
	text-decoration: none;
	color: #1A181E;
}

.unclicked span {
	display: none;
}

.clicked span {
	display: inline-block;
}

main h1 {
	text-align: center;
	padding: 15%;
	color: white;
}
